doctype.html
html
  head
    style
      include style.css
  body
    div.container
      h1 Welcome #{ preference.name }
      h3 Your Preferences
      h3 Temperature: #{ preference.temperature } Luminosity: #{ preference.luminosity }