<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="title">
      <hr />
      Hello, <%= preference.name %>!
    </div>
    <hr />
    <div class="preferences">
      <span>Your Preferences:  </span>
      <span>Temperature: <%= preference.temperature %> Degrees, Brightness: <%= preference.luminosity %> Millilux</span>
    </div>
    <br>
    <div>
      <a href="/">Not Comfortable?</a>
  </div>
  </div>
</body>
</html>